# Ignore node_modules directory (where dependencies are installed)
node_modules/

# Ignore package-lock.json (if you're using npm)
package-lock.json

# Ignore yarn.lock (if you're using Yarn)
yarn.lock

# Ignore .env files containing sensitive information
.env

# Ignore log files
logs/

# Ignore editor/IDE configuration files and directories
.vscode/
.idea/
*.sublime-*

# Ignore build artifacts
dist/
build/
out/
